.contact-container {
    background-color: var(--verde_claro);
    background-repeat: no-repeat;
    background-size: 100vw;
    display: grid;
    grid-template-rows: 1fr auto;
    padding-top: 20px;
}

.grid-container {
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right-container {
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.right-container p {
    font-size: 16px;
    font-weight: 300;
}

.right-container a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    padding: 10px;
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 50px;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons-container img {
    padding: 20px 0 0 25px;
    width: 100%;
    margin-top: 10px;
}

.contact-button {
    margin-right: 10px;
}

.footer {
    grid-column: span 1;
}

.footer__info {
    display: flex;
    margin: auto;
    line-height: 2;
    padding: 20px;
    max-width: 1080px;
    justify-content: space-between;
}

.footer__info a {
    text-decoration: none;
}

.footer p {
    font-weight: 200;
    font-size: 14px;
    color: #fff;
}

.marca {
    font-weight: 200;
    color: #fff;
    font-size: 14px;
    display: flex;
}

.marca img {
    margin-left: 10px;
    height: 25px;
}

.redes__sociales {
    height: 20px;
    display: flex;
    align-content: center;
}

.redes__sociales a {
    margin: 2px 0;
}

.redes__sociales p {
    font-size: 14px;
    line-height: 2;
    color: rgb(255, 255, 255);
}

.redes__sociales svg {
    width: 25px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

.info__contact {
    display: flex;
    flex-direction: column;
}

@media (max-width:895px) {
    .grid-container {
        grid-template-columns: 100%;
    }
    .info__contact {
        justify-content: center;
        padding-left: 30px;
    }
    .buttons-container img {
        padding: 0;
        margin: 0;
        width: 75%;
    }
    .right-container {
        order: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    .buttons-container {
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
    }
    .left-container {
        order: 1;
        padding: 20px;
    }
}

@media (max-width:650px) {
    .right-container {
        grid-template-columns: 1fr;
    }
    .buttons-container {
        margin-top: 30px;
        order: 1;
    }
    .buttons-container img {
        margin-bottom: 10px;
    }
    .info__contact {
        text-align: center;
        order: 0;
        padding-left: 0;
    }
    .left-container {
        padding: 0 20px 20px;
    }
}

@media (max-width:625px) {
    .redes__sociales {
        display: none;
    }
    .marca img {
        height: 15px;
    }
    .footer__info {
        line-height: 1;
    }
    .right-container {
        padding: 0;
    }
}

@media (max-width:375px) {
    .footer p {
        font-size: 12px;
    }
    .footer__info a {
        font-size: 12px;
    }
}