header{
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
}

.izquierda{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--negro);
}

.logo img {
    max-width: 60px;
}

.orgullo{
    margin-left: 20px;
}

.orgullo p{
    font-size: 14px;
    line-height: 20px;
}

.orgullo strong {
    top: -10px;
    font-size: 25px;
}

.idioma{
    display: flex;
    font-size: 14px;
    margin: 0 15px;
    align-items: center;

}

.idioma svg{
    margin-left: 5px;
    width: 20px;
}

.bandera{
    margin-left: 5px;
    width: 20px;
}

.nav {
    display: flex;
}

.nav a{
    text-decoration: none;
    color: #636363 ;
}

.nav li {
    font-size: 16px;;
    margin-left: 20px;
    list-style: none;
}

.nav li:hover {
    color: var(--verde_oscuro);
}

.menu__movil svg{
    width: 0px;
    color: var(--verde_oscuro);
}

.salir {
    margin-right: auto;
}

.salir svg{
    display: none;
}

.op{
    display: none;
}

.politi{
    display: none;
}

.arriba{
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 90;
    background-color: var(--verde_oscuro);
    padding: 10px;
    border-radius: 50%;
    transition: all 300ms ;
    opacity: 0;
}

.arriba svg{
    color: #fff;
    width: 30px;
    height: 30px;
}

.arriba:hover{
    background-color: var(--verde_claro); 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.show{
    transition: all 300ms ;
    opacity: 100%;
}


.english{
    display: flex;
    position: absolute;
    top: 70px;
    left: 695px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow:  20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
}

.nada{
    display: none;
}



@media (max-width:1025px){
    .nav{
        padding: 20px;
        background-color: white;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 250px;
        flex-direction: column;
        align-items: flex-end;
        z-index: 99;
        transition: all .5s;
        box-shadow:
        15px -15px 30px #636363
    }

    .op{
        margin-top: 50px;
        display: block;
        order: 9;
        font-size: 16px;
        color: var(--verde_oscuro);
        font-weight: 700;
    }

    .politi{
        display: block;
    }

    .idioma{
        margin: 5px 0;
        order: 10;
    }

    .nav li{
        margin: 12px 0;
    }

    .collapsed{
        transition: all 1.5s;
        right: -100%;
    }


    .menu__movil svg{
        width: 30px;
    }

    .salir svg{
        display: block;
        width: 30px;
        height: 30px;
        transition: all 1s;
        margin-bottom: 10px;
        color: var(--verde_oscuro);
    }
}

@media (max-width: 375px){

    .orgullo{
        margin-left: 10px;
    }

    .orgullo p{
        font-size: 12px;
    }

    .orgullo strong{
        font-size: 20px;
    }

}








