.quienes-somos {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 1080px;
    margin: auto;
    margin-top: 20px;
}

.quienes-somos-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.quienes-somos-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes-somos-button button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: var(--verde_claro);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.30);
}

.quienes-somos-button button:hover {
    cursor: pointer;
}

.quienes-somos-button .chevron {
    margin: 0;
    width: 25px;
}

.quienes-somos-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    text-align: right;
}

.quienes-somos-info h2{
    margin-top: -20px;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: var(--verde_oscuro);
}

.quienes-somos-info h3{
    font-weight: 400;
    font-size: 45px;
    color: var(--verde_oscuro);
}

.quienes-somos-info p{    
    font-size: 15px;
}

.quienes-somos-info .buttons-container {
    display: flex;
    margin-top:20px ;
}

.quienes-somos-info a{
    margin-left: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: solid 1px var(--verde_claro);
    background-color: white;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.30);
    transition: all 500ms;
}

.quienes-somos-info a:hover {
    color: #fff;
    
    background-color: var(--verde_claro);
}

.quienes-somos svg {
    color: #fff;
    width: 25px;
    margin-left: 10px;
}

.quienes-somos-imges {
    padding: 20px;
    display: flex;
    align-items: center;
}

.quienes-somos img {
    max-width: 100%;
}

.botones__somos{
    cursor: pointer
}

.quienes-somos-info a:visited{
    background-color: var(--verde_claro);
    transition: none;
    color:#fff;
}

.activado {
    background: var(--verde_claro) !important;
    color: #fff !important;
}

.fade-enter-active, .fade-leave-active {
    transition: all 300ms
}
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


@media (max-width:895px) {
    
    .quienes-somos{
        grid-template-columns: 100%;
    }

    .quienes-somos-imges{
        justify-content: center;
    }

    .quienes-somos-info{
        text-align: center;
        align-items: center;
    }

    .quienes-somos-info a{
        margin: 10px;
    }

    .quienes-somos-container{
        padding: 20px 50px;
    }

    .quienes-somos img {
        max-width: 70%;
    }

}

@media (max-width:580px) {
    
    .quienes-somos-button{
        display: none ;
    }

    .quienes-somos-container {
        padding: 20px
    }

    .quienes-somos-info{
        padding: 0;
    }

}


@media (max-width:425px) {
    
.quienes-somos img {
    max-width: 90%;
}

}