* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

 :root {
    --verde_oscuro: #33743A;
    --verde_claro: #A2B715;
    --amarillo: #DCB338;
    --gris: #636363;
    --negro: #000;
}


/* .fondo{
        height: 100vh;
        background-image: url(/img/fondo.svg);
        background-size: cover;
    } */

body {
    background-image: url("https://res.cloudinary.com/desarrollofrutosdelcampo/image/upload/v1624897517/img/fondo_dtigpv.svg");
    background-position: center;
    background-size: 120vw 120vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.modalAbierta {
    z-index: 1001;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.384);
}

.modalCerrada{
    display: none;
}

.modal__container {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
}

@media (max-width:1270px) {
    body{
        
    }
}